{% extends "template.html" %}
{% block content %}
<div id="address-data"></div>
<div id="tx-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/getaddressbalance/{{address}}', function (data) {
    console.log(data);
    var transformBalance =
      {'<>':'div','html':[
        {'<>':'div','html':'address: {{address}}</a>'},
	    {'<>':'div','html':'balance: <span id="balance-data">${balance}</span> VSYS'},
        {'<>':'div','html':'transactions:'} ] };

    $('#address-data').json2html(data, transformBalance);
    // format balance field
    $('#balance-data').text(parseFloat($('#balance-data').text())/100000000);
  });

  $.getJSON('/api/gettransactions/{{address}}', function (data) {
    console.log(data);
    var transformTx =
      {'<>':'div','html':[
        {'<>':'div','html':'<a href="/transaction/${id}">${id}</a>'}] };

    if (data[0].length >= 100) {
      $('#error').text("Warning: Address has too many transactions. Only partial list is shown from the oldest. Consider moving coins to new address.");
    }
    $('#tx-data').json2html(data[0], transformTx);

  });
});
</script>
{% endblock %}
