{% extends "template.html" %}
{% block content %}
<div id="block-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/getblock/{{heightOrSignature}}', function (data) {
    console.log(data);
    var transformHeader =
      {'<>':'div','html':[
        {'<>':'div','html':'signature: ${signature}</a>'},
        {'<>':'div','html':'previous block: <a href="/block/${reference}">${reference}</a>'},
        {'<>':'div','html':'height: ${height}'},
        {'<>':'div','html':'generator: ${generator}'},
        {'<>':'div','html':'fee: ${fee}'},
        {'<>':'div','html':'blocksize: ${blocksize}'},
        {'<>':'div','html':'transactions:'},
        {'<>':'div','id':'tx-data','html':''} ] };

    $('#block-data').json2html(data, transformHeader);

    var transformTx =
      {'<>':'div','html':[
        {'<>':'div','html':'<a href="/transaction/${id}">${id}</a>'}] };

    $('#tx-data').json2html(data["transactions"], transformTx);

  });
});
</script>
{% endblock %}
