{% extends "template.html" %}
{% block content %}
<div>production server node: vsys fullnode</div>
<div id="blockchain-data"></div>
<div>The following rewards are based on leasing amount 10000 VSYS from last 7 days</div>
<div id="reward-data"></div>
<div id="peer-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/getlastblock/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'block: <a href="/block/${signature}">${signature}</a>'},
        {'<>':'div','html':'height: ${height}'},
        {'<>':'div','html':'generator: ${generator}'} ] };

    $('#blockchain-data').json2html(data, transform);
  });

  $.getJSON('/api/getreward/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html': '<div style="padding-right: 150px; width: 100px; display: inline-block;">supernode: ${supernode}</div> <div style="width: 100px; display: inline-block;">reward: ${reward}</div>'} ] };

    $('#reward-data').json2html(data, transform);
  });

  $.getJSON('/api/getpeerinfo/', function (data) {
    console.log(data);
    var transform =
      {'<>':'div','html':[
        {'<>':'div','html':'peer @${address} version ${applicationVersion} name ${peerName}</a>'} ] };

    $('#peer-data').json2html(data["peers"], transform);
  });

});
</script>
{% endblock %}
