{% extends "template.html" %}
{% block content %}
<div id="tx-data"></div>
<script>
$(document).ready(function () {
  $.getJSON('/api/gettransactioninfo/{{txid}}', function (data) {
    console.log(data);
    var transformTx =
      {'<>':'div','html':[
        {'<>':'div','html':'txid: <a href="/transaction/${id}">${id}</a>'},
        {'<>':'div','html':'type: ${type}'},
        {'<>':'div','html':'block: <a href="/block/${height}">${height}</a>'},
        {'<>':'div','html':'recipient: ${recipient}'},
        {'<>':'div','html':'status: ${status}'},
        {'<>':'div','html':'timestamp: ${timestamp}'}] };

    $('#tx-data').json2html(data, transformTx);

  });
});
</script>
{% endblock %}
